<% title "Place" %>

<p>
  <strong>City:</strong>
  <%=h @place.district.city.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @place.description %>
</p>
<p>
  <strong>Place Type:</strong>
  <%=h @place.category.description %>
</p>
<p>
  <strong>District:</strong>
  <%=h @place.district.name %>
</p>

<p>
  <%= link_to "Edit", edit_place_path(@place) %> |
  <%= link_to "Destroy", @place, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", places_path %>
</p>
